@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            width: 100%;
            height: 180vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Poppins";
            background: #ebe7e7;
        }


        .container {
            width: 640px;
            background: #ffffff;
            border-radius: 3px;
            border: 1px solid #dbdbdb;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
        }


        .top-bar {
            width: 100%;
            height: 75px;
            padding: 25px 16px;
            display: flex;
            justify-content: space-between;
            align-items: right;
        }

        .profile-img {
            display: flex;
            align-items: center;
        }


        .profile img {
            width: 100%;
            height: 100%;
            position: relative;
        }


        .profile-img img {
            position: relative;
            width: 42px;
            height: 42px;
            margin-right: 10px;
            border-radius: 50%;
            display: inline-block;
            object-fit: cover;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }


        .profile-img div span {
            margin-top: 15px;
            margin-left: 50px;
        }


        .main-img {
            width: 640px;
            height: 640px;
            margin-bottom: 15px;
        }


        .main-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


        .footer {
            padding-left: 16px;
            padding-right: 16px;
        }

        .icons {
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
        }


        .icons .fa {
            font-size: 24px;
            cursor: pointer;
        }


        .icons .left-side .fa {
            margin: 0px 3px;
            color: #010101;
        }


        .likecount p {
            color: #010101;
            font-size: 14px;
        }


        .content p {
            padding: 5px 0;
        }


        .comments p {
            font-size: 14px;
            color: #ada6a6;
            padding: 5px 0;
            padding-bottom: 10px;
        }


        .comments-box {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        .icon {
            padding: 8px 16px 8px 0;
            font-size: 24px;
        }


        .input-field {
            width: 100%;
        }


        .input-field input {
            width: 100%;
            padding: 10px;
            border: none;
            outline: none;
        }


        .btn button {
            background: transparent;
            padding: 10px;
            border: none;
            outline: none;
            color: #207be2;
            font-weight: 600;
            cursor: pointer;
        }