* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #14bdac;
    text-align: center;
  }
  
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1{
    color:#05322d
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #561917;
    background-color: #f5f5f0;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.50rem;
    background-color: none;
    color: #0b796e;
    border-radius: 1rem;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.50rem;
    background-color: none;
    color: #0b796e;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #fcfcf8;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }